html {
	scrollbar-width: thin;
	scrollbar-color: #47ACA4 rgba(10, 10, 10, 0.2);
}

html::-webkit-scrollbar {
	width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
	background: linear-gradient(#47ACA4,#DDC484);
	border-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(#93C8C4,#F2DCA4);
}

html::-webkit-scrollbar-track {
	background: rgba(100, 100, 100, 0.2);
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

header {
	height: 5em;
	background-color: #fff;
}

header img {
	width: 100px;
	height: 100px;
	position: absolute;
	right: 10px;
	top: 10px;
}

main {
	display: flex;
	flex-wrap: no-wrap;
}

.bigger {font-size: 1.3rem;}

#products-wrapper {
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
}

#product-search {
	font-size: 1rem;
	background-color: #F1F1F1;
	border-radius: 15px;
	border: 1px solid #DEDEDE;
	padding: 10px;
	align-self: flex-start;
	min-width: 300px;
	outline: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 40px;
}

.product {
	width: 250px;
	border: 1px solid #DEDEDE;
	backdrop-filter: blur(20px);
	margin: 20px 40px;
	border-radius: 15px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
	transition: ease 0.5s;
}

.product:hover {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.product > .photo {
	background-color: #ffffff;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	position: relative;
	border-radius: 15px;
}

.photo .product-add2cart {
	opacity: 0;
	position: absolute;
	right: 0px;
	bottom: 10px;
	background-color: #EAAD87;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
	transition: ease 0.5s;
}

.product:hover .photo .product-add2cart{
	opacity: 1;
	right: 10px;
}

.photo .product-add2cart:hover {
	background-color: #E77441;
	border-radius: 15px;
	transition: ease 0.2s;
}

.product .details-top {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	padding: 0 5px;
}

.product .details-description {
	padding: 15px 5px;
	font-size: 0.9rem;
	color: #333333;
	text-align: justify;
}

.BG {
	position: fixed; right: 0; bottom: 0;
    width: 100%; height: 100%;
	background: url(../app/images/BG.jpg) no-repeat;
	background-size: cover;
	z-index: -1;
}